/.vscode
/.idea
/lyft-motion-prediction-autonomous-vehicles
/vectornet/argoverse
/vectornet/trained_params2022_11_8
/vectornet/trained_params2022_11_10
/vectornet/trained_params2022_11_11
/vectornet/visualize